<a href="https://colab.research.google.com/github/jaehyun0220/Colab/blob/master/MediaHW__%EC%A0%9C%EC%B6%9C%EB%B3%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 1주차 HW - 데이터로 보는 나(15개 이상)

In [0]:
import pandas as pd
import numpy as np
import os, sys

In [0]:
data_i = {'나': ['박재현', '1981.02.20', '남', '성대', '이성적', '177cm', '78kg', '와이프,나,주은,주아', '2녀', 'KB카드', '보통', '1억 초반','B형','골프, 헬스, 보드','정리안된것, 멍한것']}
intro_i = pd.DataFrame(data=data_i, 
                        index=['이름', '생년월일', '성별', '학교', '성격유형', '키', '몸무게', '가족', '자녀', '직장', '건강', '연수입','혈액형','좋아하는운동','싫어하는것'])
intro_i

                  나
이름              박재현
생년월일     1981.02.20
성별                남
학교               성대
성격유형            이성적
키             177cm
몸무게            78kg
가족      와이프,나,주은,주아
자녀               2녀
직장             KB카드
건강               보통
연수입           1억 초반
혈액형              B형
좋아하는운동   골프, 헬스, 보드
싫어하는것    정리안된것, 멍한것

### 1주차 HW - 나와 닮고 싶은 사람 비교 (코딩)

In [0]:
data_compare = {'나': ['박재현', '1981.02.20', '남', '한국', '경기', '석사', '성균관대', '전산, 데이터사이언스', '냉철, 계획적', '천주교', 'Make Better World', '없음', '소수', '좁음', '중', '1억 초반'], 
        '닮고싶은사람': ['Warren Edward Buffett', '1930.08.30', '네브래스카주 오마하', '남', '미국', '석사', '펜실베이니아 대학교 와튼 스쿨 ', '경영학, 경제학','냉철, 유쾌, 계획적', '기독교', '가치투자', '다수', '다수', '넓음', '상', '수백억']}
intro_compare = pd.DataFrame(data=data_compare, 
                        index=['이름', '생년월일', '국적', '출생지', '성별', '최종학력', '학교', '전공','성격유형', '종교', '삶의 지향점', '본인 출간 책', '봉사이력', '대인관계', '영어구사능력', '연수입'])
intro_compare

                         나                 닮고싶은사람
이름                     박재현  Warren Edward Buffett
생년월일            1981.02.20             1930.08.30
국적                       남             네브래스카주 오마하
출생지                     한국                      남
성별                      경기                     미국
최종학력                    석사                     석사
학교                    성균관대      펜실베이니아 대학교 와튼 스쿨
전공             전산, 데이터사이언스               경영학, 경제학
성격유형               냉철, 계획적            냉철, 유쾌, 계획적
종교                     천주교                    기독교
삶의 지향점   Make Better World                   가치투자
본인 출간 책                 없음                     다수
봉사이력                    소수                     다수
대인관계                    좁음                     넓음
영어구사능력                   중                      상
연수입                  1억 초반                    수백억

### 2주차 HW - Kahoot 문제 중 틀린 부분 정리(오답노트)

In [0]:
# 이건 Kahoot 문제가 틀렸음- 정답은 반, 터 이나 퀴즈에서는 반-발표로 나옴
# 뒤의 문장을 b[8:10]으로 해도 반-날부 가 됨
a = "안녕하세요 데이터 사이언스 학과 여러분 반갑습니다"
print(a[-5])
b = "오늘 수업 첫 날부터 발표하게 되어 떨리네요"
print(a[8:10])

반
터

In [0]:
str = "hello world"
print(str.capitalize())

Hello world

In [0]:
str = "we are the world"
str.replace("we", " ").replace("are", " ").lstrip()

'the world'

In [0]:
L1 = [1,2,3,4]
L2 = [4,5,6,7]
print(L1+L2)

[1, 2, 3, 4, 4, 5, 6, 7]

In [0]:
# Kahoot이 틀림 - del list[1]을 하면 [1, 3, 4, 5, 6, 7, 8, 9] 이 됨
# 정답없음 del list[2]가 되어야 함

list = [1,2,3,4,5,6,7,8,9]
del list[1]
print(list)

[1, 3, 4, 5, 6, 7, 8, 9]

In [0]:
lot1 = [('a','b'),('c','d'),('e','f')]
print(dict(lot1))
lot2 = (['a','b'],['c','d'],['e','f'])
print(dict(lot2))
lot3 = ['ab','cd','ef']
print(dict(lot3))
lot4 = {{'a','b'},{'c','d'},{'e','f'}}
print(dict(lot4))

{'a': 'b', 'c': 'd', 'e': 'f'}
{'a': 'b', 'c': 'd', 'e': 'f'}
{'a': 'b', 'c': 'd', 'e': 'f'}

TypeError: ignored

### 4주차 HW - 기술통계 설명 (정의, 예제, 파이썬 코드)

In [0]:
# 기술통계 예제를 위한 numpy 배열 생성
np.random.seed(seed=0)
x = np.random.randint(1, 10, size=20)
x = x.astype(float)
print(x)

[6. 1. 4. 4. 8. 4. 6. 3. 5. 8. 7. 9. 9. 2. 7. 8. 8. 9. 2. 6.]

In [0]:
import statistics as stat
from scipy.stats.mstats import gmean
import scipy as sp
import math

###############   평균    ####################

# 산술(arithmetic mean) 
#  - 일상에서 평균이라고 부르는 것으로 표본평균이라고도 함.
#  - 주어진 수의 합을 수의 개수로 나눈 값이다.

arithmetic_m = stat.mean(x)
print(arithmetic_m)
  
# 기하(geometric mean) 
#  - 합이 아닌 곱이 쓰이는 경우에 평균으로 이용.
#  - n개의 양수 값을 모두 곱한 것의 n제곱근이다.

geometric_m = gmean(x)
print(geometric_m)

# 조화(harmonic mean) 
#  - 역수의 산술 평균의 역수로 정의.
#  - 속력처럼 상대적인 비를 갖는 단위의 평균을 계산하는 데 유용.
#  - 평균적인 변화율을 구할 때에 주로 사용.

harmonic_m = stat.harmonic_mean(x)
print(harmonic_m)

5.8
5.060616493334303
4.079650315687227

In [0]:
# 최빈 값
from collections import Counter
cnt = Counter(x)
cnt.most_common(1) # 8이 4번 출현함

[(8.0, 4)]

In [0]:
# 중앙값
np.median(x)

6.0

In [0]:
# 편차(Deviation) : 관측값과 평균의 차이(관측값에서 평균 또는 중앙값을 뺀것)

print(arithmetic_m)
print(x-arithmetic_m)
print(round(sum(x-arithmetic_m),2))

5.8
[ 0.2 -4.8 -1.8 -1.8  2.2 -1.8  0.2 -2.8 -0.8  2.2  1.2  3.2  3.2 -3.8
  1.2  2.2  2.2  3.2 -3.8  0.2]
0.0

In [0]:
# 분산(Variance): 
#  - 데이터의 퍼짐 정도(관측값에서 평균을 뺀 값을 제곱하고, 그것을 모두 더한 후 전체 개수로 나눔)
#  - 평균에서 거리가 얼마나 떨어졌는지
#  - 차이값을 제곱의 평균 (관측값에서 평균을 뺀 값인 편차를 모두 더하면 0이 되기 때문에 제곱하여 더함)
np.var(x)

6.16

In [0]:
# 표준편차: 
#  - 평균에 대한 오차(분산을 제곱근 한 것으로, 제곱 해서 뻥튀기 된 분산 값을 제곱근하여 다시 원래 크기로 복원)
np.std(x)

2.4819347291981715

In [0]:
# 범위(range): 가장 큰 측정값에서 가장 작은 측정값을 뺀 값
np.max(x) - np.min(x)

8.0

In [0]:
# 4분위(Quartile): 데이터를 4등분 한것
print(np.quantile(x,0.25), np.quantile(x,0.5), np.quantile(x,0.75))
print(np.percentile(x,25), np.percentile(x,50), np.percentile(x,75))

4.0 6.0 8.0
4.0 6.0 8.0

In [0]:
# 왜도(Skewness): 분포의 비댕칭도를 나타내는 통계랑으로 정규분포, T분포와 같이 대칭인 분포는 왜도가 0임
#  - 카이제곱분포와 같이 오른쪽으로 긴 꼬리를 가진 경우 왜도는 양수이며, 왼쪽으로 긴 꼬리를 가지면 왜도는 음수임
#  - 한 쪽 꼬리 부분에 보다 많은 확률값이 분포할 수록, 다시 말해 비대칭도가 커질 수록 왜도의 절대값은 증가한다.
sp.stats.skew(x)

-0.37910307625739464

In [0]:
# 첨도(Kurtosis): 분포의 꼬리부분의 길이와 중앙부분의 뾰족함에 대한 정보를 제공
#  - 정규분포의 경우 첨도는 0이며
#  - 첨도가 0보다 크면 정규분포보다 꼬리가 길고, 분포가 중앙부분에 덜 집중되어 중앙 부분이 뾰족한 모양을 가지게 됨
#  - T분포는 정규분포보다 더 긴꼬리를 가지므로 첨도가 0보다 크다.
sp.stats.kurtosis(x)

-1.0845420812953277

### 네이버 상품 목록 추출 웹크롤링(주제는 자가 선정)

네이버 API를 통해 제품 클릭 시 상세 페이지 링크 와 이미지 링크를 가져온다

주의 사항 : client_id와 client_secret은 네이버 오픈 API 에서 신청을 통해 발급 받아야함

9번 라인 url의 display 옵션을 조정하면 반환할 상품의 갯수를 지정 할 수 있다.

In [5]:
#https://developers.naver.com/docs/search/shopping/ 개발자가이드
import os
import sys
import urllib.request
import json
from bs4 import BeautifulSoup

client_id = "LHSoskEsfRtsqsUY6EGh"
client_secret = "fb0Rlwo7wr"
encText = urllib.parse.quote("RTX2080TI") # NVIDIA RTX2080TI 그래픽 카드 검색 시도!
url = "https://openapi.naver.com/v1/search/shop.json?display=1&query=" + encText # json 결과
# url = "https://openapi.naver.com/v1/search/blog.xml?query=" + encText # xml 결과
request = urllib.request.Request(url)
request.add_header("X-Naver-Client-Id",client_id)
request.add_header("X-Naver-Client-Secret",client_secret)
response = urllib.request.urlopen(request)
rescode = response.getcode()

if(rescode==200):
    response_body = response.read()
    print(response_body.decode('utf-8'))
    
    ### 네이버 공개 코드가 아닌 부분 ###
    json_data = json.loads(response_body)
    link = json_data.get("items")[0].get("link")
    print(link)
    ###
else:
    print("Error Code:" + rescode)

{
"lastBuildDate": "Fri, 13 Dec 2019 17:52:16 +0900",
"total": 7603,
"start": 1,
"display": 1,
"items": [
{
"title": "I9 9900K 라이젠 3700X 고사양 컴퓨터 <b>RTX</b> 2060 2070 SUPER <b>2080ti</b>",
"link": "https://search.shopping.naver.com/gate.nhn?id=13101925787",
"image": "https://shopping-phinf.pstatic.net/main_1310192/13101925787.2.jpg",
"lprice": "990000",
"hprice": "0",
"mallName": "컴군",
"productId": "13101925787",
"productType": "2"

}
]
}

https://search.shopping.naver.com/gate.nhn?id=13101925787

### 유투브 분석(워크맨, 펭수 등 채널 자가 선정

### 인스타그램 분석